---
const { siteTitleHref, sidebar } = Astro.locals.starlightRoute;
---

<div popover="auto" id="drawer">
  <button class="sheet-overlay" popovertarget="drawer" popovertargetaction="hide"></button>
  <div class="content">
    <div class="header">
      <button class="drag-icon" popovertarget="drawer" popovertargetaction="hide"><span></span></button>
    </div>
    <div class="body">
      <div class="links-nav">
        <a href={siteTitleHref}>Início</a>
        <a href="/cpaint/">CPAINT</a>
      </div>

      <div class="links-docs">
        {sidebar.map((entry) => {
          if (entry.type === 'link') {
            return (
              <a href={entry.href} {...entry.attrs} class="sidebar-link depth-0">
                {entry.label}
              </a>
            )
          } else if (entry.type === 'group') {
            return (
              <div class="sidebar-group depth-0">
                <h4 class="group-title depth-0">{entry.label}</h4>
                {entry.entries?.map((subEntry) => {
                  if (subEntry.type === 'link') {
                    return (
                      <a href={subEntry.href} {...subEntry.attrs} class="sidebar-link depth-1">
                        {subEntry.label}
                      </a>
                    )
                  } else if (subEntry.type === 'group') {
                    return (
                      <div class="sidebar-group depth-1">
                        <h5 class="group-title depth-1">{subEntry.label}</h5>
                        {subEntry.entries?.map((deepEntry) => {
                          if (deepEntry.type === 'link') {
                            return (
                              <a href={deepEntry.href} {...deepEntry.attrs} class="sidebar-link depth-2">
                                {deepEntry.label}
                              </a>
                            )
                          }
                          return null
                        })}
                      </div>
                    )
                  }
                  return null
                })}
              </div>
            )
          }
          return null
        })}
      </div>
    </div>
  </div>
</div>

<style>
  button {
    all: unset;
  }

  [popover] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    opacity: 0;
    pointer-events: none;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    transition: 0.1s linear;
    z-index: 1000;
    background: transparent;
    border: none;
  }

  [popover]::backdrop {
    background: rgba(0, 0, 0, 0.8);
  }

  [popover]:popover-open {
    opacity: 1;
    pointer-events: auto;
  }

  [popover]:popover-open .content {
    transform: translateY(0%);
  }

  .sheet-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    opacity: 0.1;
    background-color: transparent;
  }

  .content {
    width: 100%;
    position: relative;
    background: var(--background);
    max-height: 100vh;
    height: 50vh;
    max-width: 1150px;
    transform: translateY(100%);
    border-radius: 12px 12px 0 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.03);
    transition: 0.3s ease;
  }

  .header {
    display: flex;
    justify-content: center;
  }

  .header .drag-icon span {
    height: 0.1rem;
    width: 100px;
    display: block;
    background-color: var(--muted);
    border-radius: 9999px;
    margin-top: 1rem;
  }

  .body {
    height: 100%;
    overflow-y: auto;
    padding: 1.5rem;
  }

  .body::-webkit-scrollbar {
    width: 0;
  }

  .links-nav {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  .links-nav a {
    font-size: 1rem;
    line-height: 1.5rem;
    color: inherit;
    text-decoration: inherit;
  }

  .links-docs {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .sidebar-group {
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .sidebar-group.depth-1 {
    padding-top: 0.75rem;
    padding-left: 0.5rem;
  }

  .group-title {
    font-weight: 500;
    font-size: 1rem;
  }

  .group-title.depth-1 {
    font-size: 0.95rem;
    font-weight: 450;
    color: var(--muted-foreground);
  }

  .sidebar-link {
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--muted-foreground);
    text-decoration: inherit;
    display: block;
    margin-bottom: 0.25rem;
  }

  .sidebar-link.depth-1 {
    padding-left: 0.5rem;
  }

  .sidebar-link.depth-2 {
    padding-left: 1rem;
    font-size: 0.9rem;
  }
</style>
